<div class="mb-3 mt-3">
  <div class="d-flex flex-row justify-content-between">
    <label for="filter" class="form-label me-2">
      Filter by Last Name
    </label>
    <label for="clearbtn" class="form-label">
      Clear Filter
    </label>
  </div>
  <div class="d-flex">
    <input
      #filterCtrl
      (keydown.enter)="onFilter(filterCtrl.value)"
      id="filter"
      class="form-control"
    >
    <button
      type="button"
      class="btn btn-warning"
      (click)="onFilter(filterCtrl.value)"
    >
      Filter
      <i class="bi bi-funnel"></i>
    </button>
    <button
      id="clearbtn"
      type="button"
      class="btn btn-danger"
      (click)="onClearFilter(filterCtrl)"
    >
      Clear Filter
    </button>
  </div>
</div>
